# Node.js dependencies
node_modules/
dist/

# Environment files
.env
*.env

# Logs
*.log

# Temporary and cache files
.wwebjs_auth/
.wwebjs_cache/
whatsapp-auth/
whatsapp-cache/
whatsapp-sessions/
whatsapp-version-cache/

# Database files
*.db
*.sqlite

# Dependency directories
.npm
.pnp
.pnp.js

# Misc
.DS_Store
Thumbs.db
